<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
		<meta name="description" content="Vintec es Startup especialista en brindar soluciones para cualquier necesidad en las áreas de desarrollo web, sistemas a medida, redes de comunicación, diseño publicitario y branding."/>
		<meta name="keywords" content="Vintec, Venezolana de Innovaciones Tecnologica, Diseño web, Desarrollo Web, Desarrollo de software, Apps Móviles, Diseño de logos, Banner Publicitario, Tarjeta de presentación, Edición de video"/>
		<meta name="robots" content="Index, Follow"/>
		<meta name="author" content="Vintec"/>
		<title>Inicio | Yormi Altamiranda</title>
		<link rel="icon" href="img/logo/favico.png"/>
		<link rel="stylesheet" href="css/styles.min.css"/>
	</head>
	<body>
		<div id="app">
			<div id="bg"><img src="img/logo/logo-large.svg" width="250" height="350" alt="Logo"/></div>
			<div id="main"><img id="icon" src="img/menu/Menu%20Icon.png"/>
				<div id="menu">
					<ul>
						<li><a href="index.html">Inicios</a></li>
						<li><a href="mi-cv.html">Mi CV</a></li>
						<li><a href="portafolio.html">Portafolio</a></li>
					</ul>
				</div>
			</div>
			<div id="menu_circle_layer"></div>
			<div id="social_media">
				<div id="container">
					<div id="msg">FOLLOW US</div>
					<ul class="social">
						<li><a href="#" target="_blank"><i class="icon-gitlab-w"></i></a></li>
						<li><a href="#" target="_blank"><i class="icon-github-w"></i></a></li>
						<li><a href="#" target="_blank"><i class="icon-behance-w"></i></a></li>
						<li><a href="#" target="_blank"><i class="icon-pinterest-w"></i></a></li>
					</ul>
				</div>
			</div>
			<div id="social_circle_layer"></div>
			<div class="owl-carousel" id="slider-home"><img src="img/slider/slider-1.jpg"/><img src="img/slider/slider-2.jpg"/><img src="img/slider/slider-3.jpg"/></div>
			<section class="ptb-mx">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<h2 class="title-lg text-center mt-md text-secondary">¿Quien Soy?</h2>
							<h4 class="title-sm text-center text-primary">Cual es mi experiecia</h4>
							<p class="text-light text-center">Soy un especialista en Diseñar y Desarrollar UI/UX (Interfaz de Usuario / Experiencia de Usuarios), Diseño Publicitario, Branding Y Diseño Gráfico, Cuento con más de 6 anos de experiencia en el sector, aportando resultados creativos, originales y de calidad.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<p class="text-center mt-md"><a class="button-effet-secondary" href="mi-cv.html"><span>Ver Mi CV</span>
								<svg width="13px" height="10px" viewBox="0 0 13 10">
									<path d="M1,5 L11,5"></path>
									<polyline points="8 1 12 5 8 9"></polyline>
								</svg></a></p>
						</div>
					</div>
				</div>
			</section>
			<div class="skew-c"></div>
			<section class="ptb-mx bg-gray-lg">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-xs-12 mt-mx">
							<h2 class="title-lg text-center mt-md">Mi Experiencia</h2>
							<h4 class="title-sm text-center text-primary"> Especialidades a las que me dedico.</h4>
						</div>
					</div>
					<div class="row ptb-mx">
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-sm">
							<div class="card card--1">
								<div class="card__info-hover">
									<svg class="card__like" viewBox="0 0 24 24">
										<path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
									</svg>
									<div class="card__clock-info">
										<svg class="card__clock" viewBox="0 0 24 24">
											<path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z"></path>
										</svg><span class="card-ime">15 min</span>
									</div>
								</div>
								<div class="card__img"></div><a class="card__link" href="#">
									<div class="card__img--hover"></div></a>
								<div class="card__info"><span class="card__category">One Page, Multipages Newsletter</span>
									<h3 class="card_title">Diseño Web</h3><span class="card__by">by<a class="card__author" href="#" title="author">   Yormi Altamiranda</a></span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-sm">
							<div class="card card--2">
								<div class="card__info-hover">
									<svg class="card__like" viewBox="0 0 24 24">
										<path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
									</svg>
									<div class="card__clock-info">
										<svg class="card__clock" viewBox="0 0 24 24">
											<path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z"></path>
										</svg><span class="card-ime">5 min</span>
									</div>
								</div>
								<div class="card__img"></div><a class="card_link" href="#">
									<div class="card__img--hover"></div></a>
								<div class="card__info"><span class="card__category"> Logos, Card Presentacion</span>
									<h3 class="card_title">Diseño Grafico</h3><span class="card__by">by<a class="card__author" href="#" title="author">   Yormi Altamiranda</a></span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-sm">
							<div class="card card--3">
								<div class="card__info-hover">
									<svg class="card__like" viewBox="0 0 24 24">
										<path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
									</svg>
									<div class="card__clock-info">
										<svg class="card__clock" viewBox="0 0 24 24">
											<path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z"></path>
										</svg><span class="card-ime">5 min</span>
									</div>
								</div>
								<div class="card__img"></div><a class="card_link" href="#">
									<div class="card__img--hover"></div></a>
								<div class="card__info"><span class="card__category"> Videos, Comerciales</span>
									<h3 class="card_title">Edición de Videos</h3><span class="card__by">by<a class="card__author" href="#" title="author">   Yormi Altamiranda</a></span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-sm">
							<div class="card card--4">
								<div class="card__info-hover">
									<svg class="card__like" viewBox="0 0 24 24">
										<path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
									</svg>
									<div class="card__clock-info">
										<svg class="card__clock" viewBox="0 0 24 24">
											<path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z"></path>
										</svg><span class="card-ime">5 min</span>
									</div>
								</div>
								<div class="card__img"></div><a class="card_link" href="#">
									<div class="card__img--hover"></div></a>
								<div class="card__info"><span class="card__category"> Red Display</span>
									<h3 class="card_title">Banner Publicitario.</h3><span class="card__by">by<a class="card__author" href="#" title="author">   Yormi Altamiranda</a></span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-sm">
							<div class="card card--5">
								<div class="card__info-hover">
									<svg class="card__like" viewBox="0 0 24 24">
										<path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
									</svg>
									<div class="card__clock-info">
										<svg class="card__clock" viewBox="0 0 24 24">
											<path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z"></path>
										</svg><span class="card-ime">5 min</span>
									</div>
								</div>
								<div class="card__img"></div><a class="card_link" href="#">
									<div class="card__img--hover"></div></a>
								<div class="card__info"><span class="card__category"> Card, Folletos</span>
									<h3 class="card_title">Tarjetas de Presentación.</h3><span class="card__by">by<a class="card__author" href="#" title="author">   Yormi Altamiranda</a></span>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-sm">
							<div class="card card--6">
								<div class="card__info-hover">
									<svg class="card__like" viewBox="0 0 24 24">
										<path fill="#000000" d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z"></path>
									</svg>
									<div class="card__clock-info">
										<svg class="card__clock" viewBox="0 0 24 24">
											<path d="M12,20A7,7 0 0,1 5,13A7,7 0 0,1 12,6A7,7 0 0,1 19,13A7,7 0 0,1 12,20M19.03,7.39L20.45,5.97C20,5.46 19.55,5 19.04,4.56L17.62,6C16.07,4.74 14.12,4 12,4A9,9 0 0,0 3,13A9,9 0 0,0 12,22C17,22 21,17.97 21,13C21,10.88 20.26,8.93 19.03,7.39M11,14H13V8H11M15,1H9V3H15V1Z"></path>
										</svg><span class="card-ime">5 min</span>
									</div>
								</div>
								<div class="card__img"></div><a class="card_link" href="#">
									<div class="card__img--hover"></div></a>
								<div class="card__info"><span class="card__category"> Wordpres Joomla</span>
									<h3 class="card_title">Gestor de contenido</h3><span class="card__by">by<a class="card__author" href="#" title="author">   Yormi Altamiranda</a></span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<p class="text-center mt-md"><a class="button-effet-primary" href="portafolio.html"><span>Mi Portafolio</span>
								<svg width="13px" height="10px" viewBox="0 0 13 10">
									<path d="M1,5 L11,5"></path>
									<polyline points="8 1 12 5 8 9"></polyline>
								</svg></a></p>
						</div>
					</div>
				</div>
			</section>
			<div class="skew-cc"></div>
			<section class="ptb-mx">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<h2 class="title-lg text-center mt-md">Mi Portafolio</h2>
							<h4 class="title-sm text-center text-primary">Conoce algunos de mis trabajos</h4>
						</div>
					</div>
					<div class="row mt-md">
						<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 pt-md" v-for="image in portafolio" v-if="image.home==true &amp;&amp; image.type!='logos' &amp;&amp; image.type!='slider' &amp;&amp; image.type!='business'">
							<div v-if="image.type=='video'"><a data-fancybox="portafolio" :href="image.url"><img class="img-responsive" :src="image.img"/></a></div>
							<div v-else="v-else"><a data-fancybox="portafolio" :href="image.url"><img class="img-responsive" :src="image.url"/></a></div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<p class="text-center mt-md"><a class="button-effet-primary" href="portafolio.html"><span>Ver mas</span>
								<svg width="13px" height="10px" viewBox="0 0 13 10">
									<path d="M1,5 L11,5"></path>
									<polyline points="8 1 12 5 8 9"></polyline>
								</svg></a></p>
						</div>
					</div>
				</div>
			</section>
			<div class="skew-c"></div>
			<section class="ptb-mx bg-gray-lg">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<h2 class="title-lg text-center mt-md text-secondary">Con quien he trabajado</h2>
							<h4 class="title-sm text-center text-primary">Empresas con las que he trabajado</h4>
						</div>
					</div>
					<div class="owl-carousel owl-theme mt-md" id="logos"><img class="img-responsive" v-for="image in portafolio" v-if="image.home==true &amp;&amp; image.type=='business'" :src="image.url" alt=""/></div>
				</div>
			</section>
			<div class="skew-cc"></div>
			<section class="ptb-mx">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<h2 class="title-lg text-center mt-md">Contactos</h2>
							<h4 class="title-sm text-center text-primary">Contactame por mis redes sociales o via Email</h4>
						</div>
					</div>
					<div class="row mt-md center-lg center-xs">
						<div class="col-lg-6">
							<ul class="list-redes">
								<li><a target="_blank" href="https://www.facebook.com/yormian/"><i class="icon-facebook"></i></a></li>
								<li><a target="_blank" href="https://www.pinterest.es/yormian/"><i class="icon-pinterest"></i></a></li>
								<li><a target="_blank" href="https://gitlab.com/yormi"><i class="icon-gitlab"></i></a></li>
								<li><a target="_blank" href="https://github.com/yormi-altamiranda"><i class="icon-github"></i></a></li>
								<li><a target="_blank" href="https://www.youtube.com/channel/UCRLmu8PrLz8MN8SDX4Ge-mQ?view_as=subscriber"><i class="icon-youtube"></i></a></li>
								<li><a target="_blank" href="https://wa.me/573235247128"><i class="icon-whatsapp"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="row mt-md center-lg center-xs">
						<div class="col-lg-6">
							<ul>
								<li class="list-redes"><a href="mailto:yormian@gmail.com"><i class="icon-gmail"></i>
									<p class="text-normal text-gray">yormian@gmail.com</p></a></li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<p class="text-center">&copy;<span class="span">2019</span>| Todos los dereschos reservados por |<span class="span">Yormi Altamiranda</span></p>
						</div>
					</div>
				</div>
			</footer>
			<script src="js/bundle.min.js"></script>
		</div>
	</body>
</html>